{% extends "layout.html.twig" %}

{% block content %}
  <div>
      <a href="/dishes/add">Add new dish</a>
  </div>
  <div class="dishes-list">
    <table>
        <thead>
          <tr>
              <th>Date</th>
              <th>Dish</th>
              <th>Calories</th>
          </tr>
        </thead>
        <tbody>
          {% for dish in dishes %}
            <tr>
              <td>
                {{ dish['eating_time'] }}
              </td>
              <td>
                {{ dish['dish'] }}
              </td>
              <td>
                {{ dish['calories'] }}
              </td>
              <td><a href="/dishes/{{ dish['id'] }}/edit">Edit</a></td>
              <td><a href="/dishes/{{ dish['id'] }}/delete">Delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
