{% extends "layout.html.twig" %}

{% block content %}
  <div style="margin-bottom: 50px;">
    <a href="/dishes/add">Add new dish</a>
  </div>
  <div style="margin-bottom: 50px;">
    <form action="#" method="POST">
      <div style="float:left; margin-right:50px; width: 200px;">
        {{ form_widget(form.from) }}
      </div>
      <div style="float:left; margin-right:50px; width: 200px;">
        {{ form_widget(form.to) }}
      </div>
      <div>
        {{ form_widget(form.submit  ) }}
      </div>
      {{ form_rest(form) }}
      <br clear="all" />
    </form>
  </div>

  <div class="dishes-list">
    <table>
        <thead>
          <tr>
              <th>Date</th>
              <th>Dish</th>
              <th>Calories</th>
          </tr>
        </thead>
        <tbody>
          {% for dish in dishes %}
            <tr>
              <td>
                {{ dish['eating_time'] }}
              </td>
              <td>
                {{ dish['dish'] }}
              </td>
              <td>
                {{ dish['calories'] }}
              </td>
              <td><a href="/dishes/{{ dish['id'] }}/edit">Edit</a></td>
              <td><a href="/dishes/{{ dish['id'] }}/delete">Delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
